
table {
    width: 300px;
}

.catched {
  background-color: red;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}

.catched:hover {
  background-color: rgba(255, 0, 0, 0.6) !important;
  transition: all 0.5s;
}
