h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #EF5350 !important;
}

nav a {
    color: white !important;
}

nav ul li.active {
    background-color: #c62828;

}

nav img {
    height: 3.125rem;
    min-width: 3em;
    padding: 2px;
}